* {
    background-color: rgb(136, 137, 137);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color:black;
  text-decoration: none;
}

 